.layout-boxed {
	background:rgba(236, 238, 243, 1.0);
}

.layout-boxed .wrapper {
	max-width: 1280px;
}

.sidebar-menu>li>a {
	padding: 32px 5px 12px 15px;
	display: block;
}

.main-header{
	border: 1px solid lightgray;
}

.main-sidebar{
	width: 180px;
	border: 1px solid lightgray;
}

.content-wrapper{
	margin-left: 180px;
}

#donut-chart1, #donut-chart2{
	width: 880px;
	height: 380px;
	float: right;
}

#gaugechart{
    width: 355px;
    height: 318px;
}

#chartdiv , #chartdiv-lahore, #chartdiv-pindi{
	width: 800px;
	height: 500px;
	float: left;
}

#line-chart1 , #line-chart2{
	width: 500px;
	height: 500px;
	float: left;
}

 #line-chart3{
	width: 800px;
	height: 500px;
	float: left;

 }


.amcharts-chart-div a[href="http://www.amcharts.com"] {
	display: none !important;
}



#donut-chart1 .amcharts-legend-value{
	display: none;
}

.navbar-nav>.user-menu .user-image {
    float: left;
    width: 56px;
    height: 52px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}