<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

RewriteCond %{HTTP_REFERER} !^http://be-admin.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://be-admin.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dev.be-admin.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dev.be-admin.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://engro-beta.be-admin.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://engro-beta.be-admin.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://engro.be-admin.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://engro.be-admin.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://engro2.be-admin.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://engro2.be-admin.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.be-admin.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.be-admin.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dev.be-admin.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dev.be-admin.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.engro-beta.be-admin.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.engro-beta.be-admin.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.engro.be-admin.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.engro.be-admin.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.engro2.be-admin.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.engro2.be-admin.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://be-admin.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://be-admin.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dev.be-admin.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dev.be-admin.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://engro-beta.be-admin.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://engro-beta.be-admin.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://engro.be-admin.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://engro.be-admin.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://engro2.be-admin.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://engro2.be-admin.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.be-admin.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.be-admin.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dev.be-admin.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dev.be-admin.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.engro-beta.be-admin.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.engro-beta.be-admin.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.engro.be-admin.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.engro.be-admin.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.engro2.be-admin.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.engro2.be-admin.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

